.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 0px;
    }
    

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;
    }
    h1{
        font-size: 128px;
        background: linear-gradient(to right, #f6f6f6, rgb(54, 99, 214));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and (max-wdith: 1280px) {
            font-size: 64px;
        }
        
        
    }
    h3{
        font-weight: 400;
        max-width: 70%;

        @media screen and (max-wdith: 1024px) {
            max-width: 100%;
        }
        
    }
    a{
        padding: 15px 25px;
        background-color: rgb(5, 72, 187);
        color: rgb(255, 255, 255);
        border-radius: 20px;
        font-size: 15px;
        margin-top: 15px;
       
        &:hover{
            background-color: white;
            color: rgb(5, 72, 187);
    
        }
    }

    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .imgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(3, 16, 31);
            border-radius: 50px;
            width: 80%;
            height: 50%;
            position: relative;

            .bgContainer{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg{
                    background-image: url("/bg.png");
                    opacity: 0.2;
                    width: 200%;
                    height: 100%;
                    background-size: auto 100%;
                    animation: 8s ease-in-out infinte alternate slideBg;
                }
            }

            .dad{
                width: 100%;
                height: 100%;
                object-fit: contain;
                animation: 3s ease-in-out infinite alternate dadAnimate;
            }

            .chat{
                position: absolute;
                bottom: -30px;
                right: -50px;
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 10px 20px;
                background-color: #2c2937;
                border-radius: 8px;
                font-size: 12px;
                line-height: 1.2;

                @media screen and (max-width: 1024px) {
                    display: none;
                }
                @media screen and (max-width: 1280px) {
                    right: 0;
                }


                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }
        }
    }


    .orbital {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.05;
        z-index: -1;
      }


}

@keyframes dadAnimate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(-5deg);
    } 
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    } 
}